<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>Hề lố</title>
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Hind:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

     <link rel="stylesheet" href="/static/main.css"> 
    <style>
  body {
      background-image: url("/static/images/background.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
</style>
  </head>

  <body>
    <div class="top">
      <h1>
        Body Fat Estimator For Men 
      </h1>
    </div>
    <div class="login">

      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict')}}" method="post">
        <div>
          <label>Age - Tuổi Của Bạn</label>
          <input type="text" name="Age" placeholder="Age" required="required" />
        </div>
        <br />
        <div>
          <label>Weight - Cân Nặng (lbs)</label>
          <input
            type="text"
            name="Weight"
            placeholder="Weight"
            required="required"
          />
        </div>
        <br />
        <div>
          <label>Height - Chiều Cao (inches)</label>
          <input
            type="text"
            name="Height"
            placeholder="Height (inches)"
            required="required"
          />
        </div>
        <br />
        <div>
          <label>Neck Circumference - Vòng Cổ (cm)</label>
          <input
            type="text"
            name="Neck Circumference"
            placeholder="Neck Circumference (cm)"
            required="required"
          />
        </div>
        <br />
        <div>
          <label>Chest Circumference - Vòng Ngực (cm)</label>
          <input
            type="text"
            name="Chest Circumference"
            placeholder="Chest Circumference (cm)"
            required="required"
          />
        </div>
        <br />
        <div>
          <label>Abdonimal Circumference - Vòng Eo (cm)</label>
          <input
            type="text"
            name="Abdominal Circumference"
            placeholder="Abdomen Circumference"
            required="required"
          />
        </div>
        <br />
        <div>
          <label>Hip Circumference - Vòng Hông (cm)</label>
          <input
            type="text"
            name="Hip Circumference"
            placeholder="Hip Circumference (cm)"
            required="required"
          />
        </div>
        <br />
        <div>
          <label>Thigh Circumference - Chu Vi Đùi (cm)</label>
          <input
            type="text"
            name="Thigh Circumference"
            placeholder="Thigh Circumference (cm)"
            required="required"
          />
        </div>

        <br />
        <div>
          <label>Knee Circumference - Chu Vi Quanh Đầu Gối (cm)</label>
          <input
            type="text"
            name="Knee Circumference"
            placeholder="Knee Circumference (cm)"
            required="required"
          />
        </div>

        <br />
        <div>
          <label>Ankle Circumference - Chu Vi Quanh Mắt Cá Chân (cm)</label>
          <input
            type="text"
            name="Ankle Circumference"
            placeholder="Ankle Circumference (cm)"
            required="required"
          />
        </div>

        <br />
        <div>
          <label>Extended Biceps Circumference - Chu Vi Bắp Tay (cm)</label>
          <input
            type="text"
            name="Extended Biceps Circumference"
            placeholder="Extended Biceps (cm)"
            required="required"
          />
        </div>

        <br />
        <div>
          <label>Forearm Circumference - Chu Vi Cẳng Tay (cm)</label>
          <input
            type="text"
            name="Forearm Circumference"
            placeholder="Forearm Circumference (cm)"
            required="required"
          />
        </div>

        <br />
        <div>
          <label>Wrist Circumference - Chu Vi Cổ Tay (cm)</label>
          <input
            type="text"
            name="Wrist Circumference"
            placeholder="Wrist Circumference (cm)"
            required="required"
          />
        </div>
        <br />
        <br />
        <button type="submit" class="btn btn-primary btn-block btn-large">
          Submit
        </button>
      </form>
      <br />
      <div class="predict">
        {{ prediction_text }}
      </div>
      
      <div class="contact">

      </div>
    </div>
    <div class="contact">
      <h2 id="text">
        about me
      </h2>
      <img id="profile" width="100" src="/static/images/profile.png">
      
      </div>
    
    
  </body>
</html>