<!DOCTYPE html>
<html>
  <!--From https://codepen.io/frytyler/pen/EGdtg-->
  <head>
    <meta charset="UTF-8" />
    <title>Hề lố</title>
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Hind:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/static/main.css" />
    <style>
      body {
          background-image: url(/static/images/background.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
    </style>
  </head>

  <body>
    <div class="container">
      <div id="top">
        <h1>Body Fat Estimator For Men</h1>
      </div>

      <div class="wrapper">
        <div id="login">
          <!-- Main Input For Receiving Query to our ML -->
          <form action="{{ url_for('predict')}}" method="post">
          
          </form>
          <br />
          <div id="predict">{{ prediction_text }}</div>
          <p>
            Thank you for checking out my project!
          </p>
          <p>
            Wish you a lovely day
          </p>
          <br/>
          <p>
            Cảm ơn vì sự đáng yêu của bạn!
          </p>
          <p>
            Chúc bạn một ngày tốt lành
          </p>
          
        </div>
        <div id="contact">
          <h2 id="text">About me</h2>
          <img
            id="profile"
            width="100"
            src="/static/images/profile.png"
          />
          <p>Email: chinh210602@gmail.com</p>
          <p>
            Instagram:
            <a
              id="link"
              target="_blank"
              href="https://www.instagram.com/banhdacua_n/"
              >banhdacua_n</a
            >
          </p>

          <p>
            LinkedIn:
            <a
              id="link1"
              target="_blank"
              href="https://www.linkedin.com/in/chinh-nguyen-1371a3224"
              >Chinh Nguyen</a
            >
          </p>

          <p>
            Facebook:
            <a
              id="link2"
              target="_blank"
              href="https://www.facebook.com/profile.php?id=100008681325614"
              >Quốc Chính</a
            >
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
